@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@800&display=swap');

.App {
  background-color: #333036;
  color:#f3d084;
  font-family: 'Source Code Pro', monospace;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-gap: 12px;
  padding: 10px 20px;
  overflow: hidden;
}

.Main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}